<html>
<body>
  <div class="title">
    <h1> Salon bjuti en ker </h1>
  </div>
  <form class="col-sm-5" #registration_form = "ngForm" (ngSubmit)="onSubmit(registration_form.value)">
    <img src="../../../assets/img/lg1.png" class="image" alt="salon logo">
    <div class= "form-div container">
       <div class="col-md-6 mb-3 div-name">
          <label for="email">Email</label>
          <input type="text" id= "email" class="form-control email" placeholder="First name" name = "email" #email= "ngModel" ngModel required
                [ngClass]="{
                'is-valid': ((!email.invalid) && email.touched) === true,
                'is-invalid': (email.invalid && email.touched) === true,
                'neutral': (email.touched) === false}"
                >
          <!-- <span class="invalid-feedback"> First name field is required!</span>
          <span class="valid-feedback"> Looks good! </span> -->
        </div>
        <div class="col-md-6 mb-3">
          <label for="password">Password</label>
          <div class="input-group">
            <input [type]="eyeFieldIndicator ? 'text' : 'password'" class="form-control" placeholder="Password" name = "password" #password= "ngModel" ngModel required
                  [ngClass]="{
                  'is-valid': ((!password.invalid) && password.touched) === true,
                  'is-invalid': (password.invalid && password.touched) === true,
                  'neutral': (password.touched) === false}"
            >
            <div class="input-group-append">
                <span class="input-group-text ">
                    <i class="fa"
                    (click) = "onClickEyeField()" 
                    [ngClass] = "{'fa-eye-slash': eyeFieldIndicator === false ,
                                  'fa-eye': eyeFieldIndicator === true }"
                    >
                    </i>
                </span>
            </div>
            <div class="span-error">
              <span *ngIf = "errorMessage === true">  Wrong email or password  </span> 
            </div>
            </div>
        </div>
      <button class="btn btn-secondary btn-sm" 
      [disabled]="password.invalid || email.invalid"
      type="submit">Submit</button>
      <span class="make-account"><a href="" routerLink='/registration'>Create account if you don't have!</a></span>

    </div>  
  </form>

</body>
</html>
