<div class="fields-container container">
    <h1> Change password </h1>
    <form class="form-mat">
        <div class="col-md-12 mb-3">
            <mat-form-field appearance="fill" class="mat-input-wrapper" color="accent">
                <mat-label>Old password</mat-label>
                <input type="password" required matInput [formControl] = "old_password" #old_pass (keyup)="onOldPassword(old_pass.value)">
                <mat-hint>old password</mat-hint>
                <!-- <mat-error *ngIf = "old_password.invalid ">Must to be valid!</mat-error> -->
            </mat-form-field>
        </div>
        
        <div class="col-md-12 mb-4">
            <mat-form-field appearance="fill" class="mat-input-wrapper" color="accent">
                <mat-label>New password</mat-label>
                <input type="password" required matInput [formControl] = "new_password" #new_pass (keyup)="0">
                <mat-hint>new password</mat-hint>
                <mat-error *ngIf = "new_password.invalid">Need more than 5 characters!</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-12 mb-4">
            <mat-form-field appearance="fill" class="mat-input-wrapper" color="accent">
                <mat-label>New password</mat-label>
                <input type="password" matInput required [formControl] = "repeat_new_password" #new_pass_repeat (keyup)="0">
                <mat-hint>repeat the new password</mat-hint>
                <mat-error *ngIf = "repeat_new_password.invalid">Need more than 5 characters!</mat-error>
            </mat-form-field>
        </div>
    </form>
        <mat-dialog-actions>
            <button class= "buttons" mat-raised-button color="accent" mat-dialog-close mat-dialog-close="false" (click)="onCancel()">Cancel</button>
            <button class= "buttons" 
            mat-raised-button color="primary" 
            mat-dialog-close mat-dialog-close="true" 
            (click)="onChange()"
            [disabled]="repeat_new_password.invalid || old_password.invalid || new_password.invalid || 
                        (new_pass.value !== new_pass_repeat.value) || !old_password_error">Change</button>
        </mat-dialog-actions>
</div>