.form-mat{
    min-height: 55%;
}

.mat-input-wrapper{
    width:330px !important;
    height: 90px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

.buttons{
    margin-left: 26%;
}
  
