<div class="fields-container container">
    <h1 *ngIf="flag === 1">Add type of service</h1>
    <h1 *ngIf="flag === 2">Edit type of service</h1>
    <h1 *ngIf="flag === 3">Are you sure?</h1>

    <form class="form-mat" [ngClass] = "{'mat-input-wrapper-delete': (flag===3)}">
        <div class="form"> 
            <div class="col-md-12 mb-3" *ngIf = "flag === 2" >
                <mat-form-field appearance="fill" class="mat-input-wrapper" color="accent">
                    <mat-label>ID</mat-label>
                    <input type="text" required matInput [formControl] = "type_of_service_id" [(ngModel)] ="data.type_of_service_id">
                </mat-form-field>
            </div>
            <div class="col-md-12 mb-4">
                <mat-form-field appearance="fill" class="mat-input-wrapper" color="accent">
                    <mat-label>Type of service name</mat-label>
                    <input type="text" required matInput [formControl] = "name"  [(ngModel)]="data.name"  *ngIf = "flag === 2" >
                    <input type="text" required matInput [formControl] = "name"   *ngIf = "flag === 1" >
                </mat-form-field>
            </div>
            <div class="col-md-12 mb-4">
                <mat-form-field appearance="fill" class="mat-input-wrapper" color="accent">
                    <mat-label>Description</mat-label>
                    <input type="text" required matInput [formControl] = "description"  [(ngModel)]="data.description"  *ngIf = "flag === 2" >
                    <input type="text" required matInput [formControl] = "description"   *ngIf = "flag === 1" >
                </mat-form-field>
            </div>
            <div class="col-md-12 mb-4">
                <mat-form-field appearance="fill" class="mat-input-wrapper" color="accent">
                    <mat-label>Price</mat-label>
                    <input type="text" required matInput [formControl] = "price"  [(ngModel)]="data.price"  *ngIf = "flag === 2" >
                    <input type="text" required matInput [formControl] = "price"   *ngIf = "flag === 1" >
                </mat-form-field>
            </div>
            <div class="col-md-12 mb-4">
                <mat-form-field>
                    <mat-label> Actual </mat-label>
                    <mat-select [(value)]="selected" placeholder="selected">
                      <mat-option value="true"> true </mat-option>
                      <mat-option value="false"> false </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-md-12 mb-4">
                <mat-form-field>
                    <mat-label>Service</mat-label>
                    <mat-select [(value)]="selected_service">
                      <mat-option *ngFor="let service of services;" [value] = "service.service_id">
                        {{service.service_name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form" *ngIf="flag == 3">
            <mat-form-field class="delete-form">
                <strong>
                    Are you sure?
                </strong>
            </mat-form-field>
        </div>
        
    </form>
        <mat-dialog-actions>
            <button  class= "buttons" mat-raised-button color="accent" mat-dialog-close mat-dialog-close="false">Cancel</button>

            <button *ngIf="flag === 3" class= "buttons" 
            mat-raised-button color="primary" 
            mat-dialog-close mat-dialog-close="true" 
            (click)="onDelete()"
            > Delete </button>

            <button *ngIf="flag === 2" class= "buttons" 
            mat-raised-button color="primary" 
            mat-dialog-close mat-dialog-close="true" 
            (click)="onEdit()"
            [disabled]="type_of_service_id.invalid || name.invalid || description.invalid|| price.invalid"
            > Edit </button>

            <button *ngIf="flag === 1" class= "buttons" 
            mat-raised-button color="primary" 
            mat-dialog-close mat-dialog-close="true" 
            (click)="onAdd()"
            [disabled]="name.invalid || description.invalid|| price.invalid"
            > Add </button>

        </mat-dialog-actions>
</div>
